*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
a,a:hover{
	text-decoration: none;
}
img{
	vertical-align: middle;
	border:none;
}
ul,ol{
	list-style: none;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,li,.navbar{
	margin: 0;
	padding: 0;

}
/*common css code*/
/*top social area start*/
.topsocial_part{
	background:rgba(45, 52, 54, 5);
	padding: 10px 0px;
	color: #fff;
}
span{
	color: #fff;
	font-size: 12px;
}
.tsociali{
	text-align: right;
}
.tsociali a{
	color: #fff;
	margin-left: 25px;
}
.tsociali a:hover{
	color: #0abde3;
	transition: .3s;
}

/*top social area end*/
/*nav bar area start*/
.navbar_area{
	background-position: center;
	background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../IMAGE/Background image3.jpg');
	background-size: cover;

	height: 600px;
	clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0 75%, 0 0);
}
/*.mainmenu{
	padding: 25px 100px 15px;


}*/
.nav-link{
	color: #000;
}
.mainmenu ul{
	display: flex;
	list-style: none;
	font-weight: 400;
	
}	
.mainmenu ul li{
	margin-right:30px;
}

.home:hover{
	color: #0abde3;
	
}
.home{
	border-bottom: 2px solid #fff;
}
.mainmenu ul li:hover a{
	color: #fff;
	border-bottom: 2px solid #fff;

}
.mainmenu ul li a{
	font-size: 15px;
	color: #fff;
	text-decoration: none;
	transition: .5s;
}
.nav_content{
	text-align: center;
	color: #fff;

}
.navbar_area .logo {
	color: #fff;
}
.logo{
	font-size: 35px;
	float: left;
	color: #fff;
	padding: 0px 30px;
	font-weight: 600;
	margin-right: 70px;
}
.navbar_area .navbar-nav .nav-link{
	color: #fff;
}
.navbar_area .navbar-nav .nav-link:hover{
	color: #0abde3;
	border-bottom: 2px solid #0abde3;
}
.nav_content h3{
	margin-top: 150px;
	font-size: 2rem; 
	font-weight: 500;
	display: inline-block;
}
.nav_content span{
	font-size: 2rem; 
	font-weight: 500;
	display: inline-block;
	color: #0abde3;
}
.nav_content h1{
	
	font-size: 60px;
	font-weight: 600;
}
.nav_content h5{
	font-size: 21px;
	font-weight: 300;

}
.nab-btn a{
	display: inline-block;
	padding: 5px 15px;
	border-radius: 2.5rem;
	border: .1rem solid #fff;
	transition: 0.3s;
	color: #fff;
	margin-top: 40px;
	margin: 25px 5px;
}
.nab-btn a:hover{
	color: #000!important;
	background: #fff;
	font-weight: bold;
}
.arrow_down{
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.arrow_down span{
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}
.arrow-donw span:nth-child(2){
	animation-delay: -0.2s;
}
.arrow-donw span:nth-child(3){
	animation-delay: -0.4s;
}

@keyframes animate{
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-20px,-20px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: rotate(45deg) translate(20px,20px);
	}
	
}
/*navbar area end*/
/*about area start*/
.about_area{
	background: #2d3436;
}
.about_area .margin{
	padding-top: 60px;
	padding-bottom: 60px;
}
.about_area .arif{
	opacity: .9;
}
.about-img{
	background:  #2d3436;
}
.about_content{
	color:  #000;

}
.about_content h2{
	font-size: 50px;
	color: rgba(0, 0, 0, 0.5);
}
.about_content h3{
	font-size: 30px;
	color: #fff;
	margin-top: 15px;
}
.about_content span{
	font-size: 20px;
	color: #0abde3;
}
.about_content p{
	color: #b2bec3;
	margin-top: 20px;
	font-size: 17px;
	line-height: 1.7;
}
.about_area .btn a{
	padding: 10px 15px;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	border: 1px solid #000;
	display: inline-block;
	margin-top: 40px;
	margin-right: 10px;
	font-weight: bold;
}
.about_area .btn a:hover{
	background: #fff;
	color: #000;
	transition: .3s;
}
/*about area end*/
/*service area start*/
.service_area{
	background: #2d3436;
}
.service_area .service h2{
	color: rgba(0, 0, 0, 0.8);
	font-size: 50px;
	padding-top: 20px;
}
.service_area .service p{
	color: #b2bec3;
	font-size: 25px;
	margin-top: 15px;
	margin-bottom: 30px;
	padding: 0px 150px;
}
.service_area .align_item{
	text-align: center;
	padding: 10px;
}
.mt{
	margin-top: 20px;
}
.align_item:hover{
	box-shadow: 0 0 20px 0 rgba(255, 255, 255, 1);
	transform: translateY(-20px);
	transition: .5s;
}
.align_item i{
	font-size: 40px;
	color: #fff;
	margin-top: 40px;
}
.align_item h2{
	font-size: 25px;
	color: #000;
	font-weight: bold;
	margin-top: 20px;
	
}
.align_item p{
	font-size: 17px;
	color: #b2bec3;
	line-height: 1.7;
	margin-top: 15px;
	margin-bottom: 30px;
	padding: 0px 15px;
}
/*skill area start*/
.service_offer{
	background: #d2dae2;
	padding: 50px 0;
	
}
.service_offer .ser_con{
	margin-bottom: 50px;
}
.ser_con h1{
	font-size: 50px;
	color: rgba(0, 0, 0, 0.5);
}
.service_offer .pro_area h1{
	color: #2e2e2e;
	font-size: 20PX;
	font-weight: bold;
}
.service_offer .pro_area p{
	font-size: 15px;
	color: #b2bec3;
	line-height: 1.7;
	margin-top: 15px;
	margin-bottom: 30px;
	padding: 0px 15px;
}
.pro_icon{
	align-items: center;
	justify-content: center;
	text-align: center;
	display: flex;
}
.pro_icon i{
	font-size: 40px;
}
.progress{

	height: 20PX;
	width: 400PX;
	margin-bottom: 20PX;
}
.service_offer .pro_con h2{
	font-size: 16px;
	color: #000;

}
.service_offer .pro_con p{
	font-size: 13px;
	color: #1e272e;
	margin-top: 5px;
	margin-bottom: 15px;
}
/*skill area end*/
/*service area end*/
/*portfolio area start*/
.protfolio_area{
	
}
.port_content{
	background:#000;
}
.port_content h2{
	padding-top: 60px;
	font-size: 40px;
	color: #dfe6e9;
}
.port_content p{
	font-size: 25px;
	padding: 35px 160px;
	color: #1e272e;
}
.main_ul{

	text-align: center;
	background:  #000;
}
.main_ul ul li:hover a, .home{
	color: #000;
	transition: .3s;
	font-weight: bold;
}
.main_ul ul{
	display: flex;
	list-style: none;
}
.main_ul ul li{
	margin: 20px;	
}
.ang{
	cursor: pointer;
	background-color: #fff;
	padding: 8px 17px;
	border-radius: 2.5rem;
	transition: 0.3s;
	border: .1rem solid #000;
	color: #000;
	font-weight: bold;
	display: inline-block;

}
.angkor{
	padding: 8px 17px;
	border-radius: 2.5rem;
	font-weight: bold;
	border: .1rem solid #000;
	color: #fff;
	display: inline-block;
}
.angkor:hover{
	background: #fff;
	color: #000;
	transition: .5s;
}
.portfolio_area .button{
	padding-bottom: 30px;
	background: #000;
}
/*work*/
.mainraper{
	background: #000;
}
.picture{
	width: 100%;
	position: relative;

}
.picture img{
	width: 100%;
	height: 100%;
	
}
.mango{
	padding-bottom: 30px;
	
	
}
.overpakna{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 15px;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	transition: .3s;
	height: 100%;
	width: 100%;
}
.picture:hover .overpakna{
	opacity: 1;
	border:1px solid #2f3640;
	box-shadow: 5px 5px 5px #2f3640;
	transition: .5s;
	height: 89%;
	width: 92.5%;

}
.align{
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.align h2{
	font-size: 20px;
	font-weight: 500;

}
.align p{

	font-size: 15px;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.5);
}
.align i{
	font-size: 30px;
}
/*portfolio area end*/
/*footer area start*/
.footer_area{
	text-align: center;

}
.footer_area .f-btn{
	padding-top: 20px;
	padding-bottom: 20px;
}
/*footer area end*/

